.python, .go, .sharp, .ruby, #words {
  display: none;
}
body {
  background-color: lightblue;
}
.btn {
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  margin-bottom: 50px;
}
form {
  float: right;
}
h1 {
  text-align: center;
}
.jumbotron {
  width:90%;
  margin: 5%;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height:auto;
  max-width: 500px;
}
.modal-text {
  text-align: center;
  margin-top: 3px;
}
.close {
  cursor: pointer;
}
