#python, #go, #sharp, #ruby {
  display: none;
}
.results {
  float: right;
}
.container {

}
body {
  background: rgb(114,20,177);
  background: radial-gradient(circle, rgba(114,20,177,1) 5%, rgba(24,224,142,1) 50%, rgba(252,176,69,0.8434005591054313) 100%);
}
.btn {
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  margin-bottom: 50px;
}
form {
  float: left;
}

h1 {
  text-align: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height:auto;
  max-width: 500px;
}
.modal-text {
  text-align: center;
  margin-top: 3px;
}
.close {
  cursor: pointer;
}
label {
  
}
